@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: local("Raleway"), url("Fonts/Raleway-Regular.woff") format("woff");
}
.value {
  margin-bottom: 14px;
  margin-top: 13px;
}

.session {
  border: 1px solid #1D1F22;
  text-align: center;
  width: 63px;
  height: 45px;
  margin-right: 12px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.header .navigation {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}
.header .navigation .btn {
  width: 65px;
  height: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  color: #1D1F22;
  border: none;
}
.header .navigation .btn .btns {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: #1d1f22;
  padding: 0;
  border: none;
  background: none;
}
.header .navigation label:hover {
  border-bottom: 2px solid green;
  height: 70px;
}
.header .logo {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.header .right {
  display: flex;
}
.header .right .currency {
  position: relative;
  cursor: pointer;
}
.header .right .currency .dollar {
  margin-bottom: 5.5px;
  margin-top: 5.5px;
  width: auto;
  height: 42px;
  font-weight: 500;
}
.header .right .currency .container {
  background: white;
  z-index: 1;
  position: absolute;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  box-shadow: rgba(168, 172, 176, 0.19) 1px 2px;
}
.header .right .currency .hide {
  display: none;
}
.header .right .currency .show-display {
  display: block;
}
.header .right .basket-container {
  display: flex;
  padding-top: -4px;
  padding-bottom: 24px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.header .right .basket-container .basket {
  width: 20px;
  height: 20px;
  margin-left: 22px;
  margin-top: 11.17px;
  margin-bottom: 15.8px;
}
.header .right .remove {
  display: none;
}
.header .right .arrow {
  width: 6px;
  height: 3px;
  margin-left: 10px;
  margin-top: 21.5px;
  margin-bottom: 15.5px;
}
.header .right .flip-arrow {
  transform: scaleY(-1);
}
.header .right .overlay {
  top: 80px;
  left: 0;
  position: absolute;
  z-index: 1;
  background: #FFF;
  height: 100%;
  width: 100%;
  background: rgba(57, 55, 72, 0.2);
}
.header .right .overlay .cart-overlay {
  width: 325px;
  display: flex;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  right: 70px;
  background: #FFF;
}
.header .right .overlay .cart-overlay .title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 16px;
}
.header .right .overlay .cart-overlay .container-overflow-item {
  margin-right: 16px;
  padding-left: 16px;
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay {
  width: 136px;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .brand-overlay {
  font-family: "Raleway";
  font-weight: 300;
  Line-height: 25px;
  font-size: 16px;
  color: #1D1F22;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .name-overlay {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #1D1F22;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .currency-overlay {
  font-family: "Raleway";
  width: 52px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .attribute-overlay .size-overlay {
  display: flex;
  margin-bottom: 8px;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .attribute-overlay .items-overlay {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #1D1F22;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .attribute-overlay .items-overlay .item-overlay {
  font-family: serif;
  width: 24px;
  height: 24px;
  font-weight: 25;
  border: 1px solid #1D1F22;
  text-align: center;
  margin-right: 8px;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-overlay .attribute-overlay .items-overlay .color {
  background-color: black;
  color: white;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-right-overflow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-right-overflow .quantity-switcher-overflow .sum-overflow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 8px;
  margin-left: 10px;
  height: 190px;
  justify-content: space-between;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-right-overflow .quantity-switcher-overflow .sum-overflow .sum-button {
  border: 1px solid black;
  width: 24px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-right-overflow .imgs-overflow .img-overflow {
  height: 190px;
  width: 121px;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-right-overflow .imgs-overflow .container-of-arrow-img-overflow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 57px;
}
.header .right .overlay .cart-overlay .container-overflow-item .content-right-overflow .imgs-overflow .container-of-arrow-img-overflow .show-arrow {
  background-color: black;
  text-align: center;
  font-size: 10px;
  color: white;
}
.header .right .overlay .cart-overlay .foot .tax {
  display: none;
}
.header .right .overlay .cart-overlay .foot .quantity {
  display: none;
}
.header .right .overlay .cart-overlay .foot .button {
  display: none;
}
.header .right .overlay .cart-overlay .foot .overflow-tax {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 45px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  line-height: 18px;
  margin-top: 30px;
  color: #1D1F22;
  height: 19px;
}
.header .right .overlay .cart-overlay .foot .overflow-tax .currency {
  font-weight: 700;
  font-size: 16px;
  margin-right: 20px;
  height: 26px;
  line-height: 25px;
  margin-top: 30px;
  color: #1D1F22;
  margin-left: 200px;
}
.header .right .overlay .cart-overlay .overflow-button-wiev {
  font-family: "Raleway";
  width: 140px;
  height: 43px;
  font-weight: 600;
  border: 1px solid #1D1F22;
  background: #FFF;
  margin-left: 16px;
  margin-bottom: 32px;
}
.header .right .overlay .cart-overlay .overflow-button-wiev .overflow-value {
  font-family: "Raleway";
  text-align: center;
}
.header .right .overlay .cart-overlay .overflow-button-checkout {
  background-color: #5ECE7B;
  margin-left: 12px;
  width: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  height: 43px;
}
.header .right .overlay .cart-overlay .overflow-button-checkout .overflow-value-checkout {
  font-family: "Raleway";
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.header .circle {
  background: #1D1F22;
  border-radius: 60px;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 38px;
  margin-top: 2px;
  color: white;
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-align: center;
  top: 33px;
}
.header .circle .circle-value {
  margin-top: 3px;
}

.sectionCurrency {
  width: 114px;
  height: 42px;
  font-weight: 500;
  border: none;
  background: none;
  text-transform: uppercase;
}

.sectionCurrency:hover {
  background-color: #EEEEEE;
  width: 114px;
  height: 42px;
  font-weight: 500;
}

.cart {
  display: flex;
  margin: 0 100px;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}
.cart.popup {
  background-color: red;
  display: flex;
  margin-left: 5%;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
}
.cart .title {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  color: #1D1F22;
  border-bottom: solid 1px #E5E5E5;
  padding-bottom: 55px;
  line-height: 40px;
  margin-left: 16px;
}
.cart .container-item {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 4px;
  color: #1D1F22;
  border-bottom: solid 1px #E5E5E5;
}
.cart .container-item .content {
  width: 300px;
  justify-content: space-around;
  display: flex;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
}
.cart .container-item .content .brand {
  font-family: "Raleway";
  font-weight: 600;
  width: 400px;
  Line-height: 27px;
  font-size: 30px;
  margin-bottom: 16px;
}
.cart .container-item .content .name {
  font-family: "Raleway";
  font-weight: 400;
  width: 400px;
  Line-height: 27px;
  font-size: 30px;
  margin-bottom: 20px;
}
.cart .container-item .content .currency {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
}
.cart .container-item .content .attribute {
  width: 276px;
  gap: 7px;
  color: #1D1F22;
  padding-bottom: 30px;
}
.cart .container-item .content .attribute .size {
  size: 10px;
  font-weight: 700;
}
.cart .container-item .content .attribute .items {
  display: flex;
  gap: 8px;
  width: 276px;
  height: 45px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.cart .container-item .content .attribute .items .item {
  border: 1px solid #1D1F22;
  text-align: center;
  width: 63px;
  padding-top: 12px;
}
.cart .container-item .content .attribute .items .color {
  background-color: black;
  color: white;
}
.cart .container-item .content-right {
  display: flex;
}
.cart .container-item .content-right .quantity-switcher {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 25px;
}
.cart .container-item .content-right .quantity-switcher .sum {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 24px;
  left: 1071px;
}
.cart .container-item .content-right .quantity-switcher .sum-button {
  text-align: center;
  width: 15px;
  border: 1px solid black;
  padding: 7.5px 7.5px 7.5px 7.5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.cart .container-item .content-right .imgs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cart .container-item .content-right .imgs .img {
  width: 200px;
  height: 288px;
}
.cart .container-item .content-right .imgs .container-of-arrow {
  width: 56px;
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
  margin-left: 120px;
  position: absolute;
}
.cart .container-item .content-right .imgs .container-of-arrow .show-arrow {
  background-color: black;
  text-align: center;
  font-size: 10px;
  color: white;
}
.cart .container-item .content-right .imgs .container-of-arrow .show-arrow:hover {
  cursor: pointer;
}
.cart .foot {
  display: flex;
  flex-direction: column;
  width: 279px;
  margin-bottom: 276px;
  margin-top: 30px;
  gap: 8px;
}
.cart .foot .tax {
  display: flex;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cart .foot .tax .currency {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  margin-left: 15px;
}
.cart .foot .quantity {
  display: flex;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 161px;
}
.cart .foot .quantity .currency {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
}
.cart .foot .total {
  display: flex;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cart .foot .total .currency {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  margin-left: 45px;
}
.cart .foot .button {
  width: auto;
  background-color: #5ECE7B;
  height: 43px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  font-family: "Raleway";
}

.arrows-div {
  background-color: black;
  color: white;
  width: 18px;
  height: 10px;
}

.main-product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 100px;
}
.main-product .container-pic {
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-product .container-pic .select-pic {
  padding-top: 30px;
  display: flex;
  width: 100px;
  height: 80px;
  margin-left: 30px;
}
.main-product .product-details {
  width: 100%;
  justify-content: space-around;
  display: flex;
  text-align: left;
}
.main-product .product-details .main-picture {
  height: 100%;
  width: 500px;
  padding-right: 10px;
  max-width: 600px;
}
.main-product .product-details .brand {
  width: 292px;
  height: 27px;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  color: #1D1F22;
}
.main-product .product-details .name {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 16px;
  margin-bottom: 43px;
}
.main-product .product-details .size {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1D1F22;
}
.main-product .product-details .items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main-product .product-details .items .item {
  border: 1px solid #1D1F22;
  text-align: center;
  width: 63px;
  height: 45px;
}
.main-product .product-details .items .color {
  background-color: black;
  color: #E5E5E5;
}
.main-product .product-details .price {
  margin-top: 36px;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1D1F22;
}
.main-product .product-details .currency {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 20px;
}
.main-product .product-details .button {
  font-family: "Raleway";
  font-weight: 600;
  line-height: 19px;
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

.category-page {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.category-page .product-card {
  background-color: #FFF;
  padding: 16px;
  text-align: left;
  margin: 100px 20px 20px;
}
.category-page .product-card .out-stock {
  opacity: 0.5;
  min-width: 356px;
  max-height: 338px;
  background: #FFF;
  text-align: left;
}
.category-page .product-card .value-stock {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: right;
  color: #8D8F9A;
  margin-top: 127px;
  position: absolute;
  margin-left: 70px;
}
.category-page .product-card.product-card:hover {
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}
.category-page .product-card.product-card:hover .basket-img {
  color: white;
  width: 52px;
  height: 52px;
  background: #5ECE7B;
  border-radius: 50px;
  margin-left: 274px;
  margin-right: 30px;
  position: absolute;
}
.category-page .product-card.product-card:hover .basket-img .img-value {
  width: 24px;
  text-align: center;
  padding: 14px;
}
.category-page .product-card .pictures {
  min-width: 356px;
  max-height: 338px;
  background: #FFF;
  text-align: left;
}
.category-page .product-card .name {
  margin-top: 21px;
  font-family: "Raleway";
  font-weight: 300;
  Width: 354px;
  line-height: 28px;
  font-size: 18px;
  color: #8D8F9A;
}
.category-page .product-card .currency {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
  text-align: left;
}
.category-page .product-card .brand {
  font-weight: 500;
  width: 400px;
  Line-height: 30.8px;
  font-size: 30px;
}

/*# sourceMappingURL=Style.css.map */
