// Font sizes //
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xl: 30px;
$font-size-xxl: 32px;
$font-size-3xl: 42px;

// Color //
$white: #FFF;
$black: #1D1F22;
$green: #5ECE7B;
$grey: #EEEEEE;

// Font families //
$font-family-raleway: 'Raleway';
$font-family-roboto: 'Roboto Condensed';
