
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway'), url('Style/Fonts/Raleway-Regular.woff') format('woff');
}
@import "Style/Variables";
@import "Style/Main";
@import "Style/Header";
@import "Style/Cart";
@import "Style/ProductPage";
@import "Style/ProductCard";
